#bikehistory{
    background-image: url("../../../images/nature-landscape-highway-dark-wallpaper-preview.jpg") ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}