
.contain-sp{
    margin: 0px 100px;
   
}
.sp-cnt{
    /* background-color: rgb(224, 213, 218); */
}
.special-container{
    /* background-color:lightcyan ; */
    padding-bottom: 5%;
    padding-top:10px;
    padding-right: 1%;
    padding-left: 1%;
}
#card{
    border: 2px solid goldenrod;
    margin-top: 20px;
}
#card:hover{
 cursor: pointer;
 background-color: rgb(249, 255, 252);
 color: black;
}
#card{
 cursor: pointer;
 background-color: rgba(226, 17, 10, 0.801);
 color: white;
 
}
.contain-sp h1{
    text-shadow: 2px 1px 2px rgb(245, 7, 7);
    color: blue;
}