@media only  screen and (max-width:688px) {

    #msr{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0px 0px;
      margin-left: 150px;
      justify-content: center;
      gap: 20px;
  } 
  
  }
  @media only  screen and (min-width:689px) and (max-width:991px) {
    #msr{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0px 20px;
      margin-left: 90px;
      justify-content: center;
      gap: 20px;
  }
   
  }
  @media only  screen and (min-width:992px) and (max-width:1920px) {
    #msr{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 40px;
      justify-content: center;
      gap: 10px;
  }
  
    
  }
  .product-container h1{
padding: 2%;
  }
  .product-container img{
height: 50%;
  }
  #bike-card{
background-color: rgb(36, 35, 35);
color: white;
  }
  #bike-card:hover{
background-color: rgb(255, 255, 255);
color:black;
border: 10px solid rgb(20, 18, 18);
  }

  #msr{
    padding-bottom: 5%;
  
    margin-bottom: 5%;
  }